.user-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin-bottom: 50px;
}

.user-list__user {
    box-shadow: -10px 10px 30px rgba(85, 98, 112, 0.4);
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(255, 107, 107);
    margin: 15px;
    transition: all 100ms linear;
}

.user-list__user-container {
    position: relative;
    padding: 0 25px;
}

.user-list__user--inactive {
    border-color: rgb(85, 98, 112);
    color: #ccc;
    opacity: .45;
}

.user-list__user--current {
    color: #61fc4f;
    border-color: #61fc4f;
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    align-self: flex-start;
}

.user-list__user__name {
    text-shadow: #000 0 0 1px;
    align-self: flex-end;
    margin: 0 auto -25px;
    font-size: 20px;
    overflow-wrap: normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-list__remove-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid gold;
    background: red url("../../images/cancel.svg") no-repeat center center;
    box-shadow: none;
    background-size: 8px;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 2;
}

.user-list__user-image {
    background: url("../../images/crown.png") no-repeat;
    background-size: cover;
    height: 66px;
    width: 109px;
    margin-bottom: -20px;
    margin-left: -25px;
    transform: rotate(-22deg);
    position: relative;
    z-index: 2;
    transition: all .5s;
}

.pointer:hover .user-list__user-image {
    transform: rotate(0deg);
    margin-left: 0;
}

.user-list__user--0 {
    background: url("../../images/user0.jpg") no-repeat;
    background-size: cover;
}

.user-list__user--1 {
    background: url("../../images/user1.jpg") no-repeat;
    background-size: cover;
}

.user-list__user--2 {
    background: url("../../images/user2.jpg") no-repeat;
    background-size: cover;
}

.user-list__user--3 {
    background: url("../../images/user3.jpg") no-repeat;
    background-size: cover;
}

.user-list__user--4 {
    background: url("../../images/user4.jpg") no-repeat;
    background-size: cover;
}

.user-list__user--5 {
    background: url("../../images/user5.jpg") no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}