.SimpleTimeView {
    position: relative;
}

.SimpleTimeView-circle{

}
.SimpleTimeView-clock{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 72px;
}
