.Icon {
    background: none;
    padding: 0;
    border: none;
}

.Icon figure {
    margin: 0;
}

.Icon--medium figure {
    width: 32px;
    height: 32px;
}

.Icon--large figure {
    width: 64px;
    height: 64px;
}
