.countdown-wrapper {
    position: relative;
}


.countdown-wrapper__play-btn {
    position: absolute;
    background: url("../../images/play-button.svg") no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-40%);
}
.countdown-wrapper__next-btn {
    background: url("../../images/fast-forward.svg") no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 20px auto;
}

.countdown-wrapper__pause-btn {
    position: absolute;
    background: url("../../images/pause.svg") no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translateY(-90%) translateX(-50%);
}

.countdown-wrapper__clock-wrapper {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.react-countdown-clock {
    position: absolute;
    left: 0;
}
