.countdown-wrapper {
    position: relative;
}

.countdown-wrapper__play-btn {
    position: absolute;
    background: url("../../images/play-button.svg") no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 40%;
    transform: translateY(-50%) translateX(-40%);
}

.countdown-wrapper__next-btn {
    background: url("../../images/fast-forward.svg") no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 20px auto;
}

.countdown-wrapper__pause-btn {
    position: absolute;
    background: url("../../images/pause.svg") no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 40%;
    transform: translateY(-50%) translateX(-50%);
}

.countdown-wrapper__clock-wrapper {
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.blur {
    filter: blur(60px);
    background: rgba(78, 205, 196, 0.3);
    width: 100%;
    height: 100%;
}

.blur.--paused {
    background: rgba(196, 77, 88, 0.4);
    animation-name: slidein-big;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.blur.--playing {
    animation-name: slidein-small;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein-small {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.3);
    }
}

@keyframes slidein-big {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.8);
    }
}

.react-countdown-clock {
    position: absolute;
    left: 0;
}
